/* Paleta de colores y fuentes que se va a utilizar */
:root{
    --primary: #ffffff;
    --secondary: #010b17;
    --white: #ffffff;
    --black: #000000;

    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Albert Sans', sans-serif;
}

/*TODO: Globales */
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: var(--font-primary);
    font-size: 170%;
}
p{
    text-align: center;
    font-family: var(--font-primary);
    font-size: 100%;
}
a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-primary);
}
button{
    color: var(--white);
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 85%;
}

/*TODO: Clases e ids */
.headerContainer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    justify-content: space-between;

    margin: .5rem 1rem;
}
.headerContainer h2, img{
    width: 13rem;
    text-align: left;
}
/* Nav */
.menuContainer button{
    border: none;
    background-color: #6860c4;
    padding: .7rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 10px 1px black;
}
.navContainer{
    display: none;
}
.ulContainer{
    display: flex;
}
.ulContainer li{
    margin: 0 1rem;
}

.mainContainer{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}
.textMain{
    color: var(--white);
    margin-bottom: 10rem;
}
.textMain h2{
    margin-bottom: 6rem;
}
.textMain p{
    font-style: italic;
    font-size: 150%;
}
.btnInfo a{
    padding: 1.1rem 1.8rem;
    background-color: var(--secondary);
    font-weight: 500;
    font-size: 100%;
    font-family: var(--font-primary);
    transition: .5s;
}
.btnInfo a:hover{
    background-color: var(--white);
    color: var(--secondary);
    transition: .5s;
}
/* Seccion 1 */
.section1Container{
    background: rgb(254,251,251);
    background: radial-gradient(circle, rgba(254,251,251,1) 0%, rgba(218,218,218,1) 100%);
}
.section1Container .maxWidth{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 1rem;
}
.section1Container .divSection1 img{
    object-fit: cover;
    width: 100%;
}
.divSection1 h2{
    margin-bottom: 1rem;
    font-size: 120%;
}
.divSection1 p{
    font-size: 89%;
}
.divSection1 p > br{
    display: none;
}
/* Img */
.section1Container img{
    width: 100%;
    object-fit: cover;
}
/* Article Container 1 */
.articleContainer{
    background-image: url(/img/articleFondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--white);
    padding: 2.5rem 1rem;
}

/* Section 2 */
.section2Container{
    background-color: #f7f7f7;
}
.gridTemplate{
    margin: auto;
    max-width: 1024px;
}
.car1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}
.car1 img{
    width: 70%;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Section 3 */
.section3Container{
    margin: 0 1rem;
}
.section3Container h2{
    margin-top: 2.5rem;
    font-size: 170%;
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}
.card2 img{
    width: 20%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.textTitle2 h2{
    font-size: 130%;
    margin: 0 0 1rem 0;
}
/* section 4 */
.section4Container{
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;

    background-image: url(../img/fondoSection4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.textSection4 h2{
    font-size: 140%;
    margin: 0 1rem 2rem 1rem;
}
.textSection4 p{
    margin: 0 1rem;
}
.imagenSection4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 1rem;
}

.imagenSection4 img{
    margin-bottom: 10vh;
    object-fit: cover;
    width: 100%;
}
.imagenWhite{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15%;
}
.imagenWhite img{
    width: 73%;
    border: 10px solid #353535;
}
/* Articulo2 */
.articleContainer2{
    background-image: url(/img/premio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    color: var(--white);
    padding: 6rem 1rem;
}
.articleContainer2 p{
    font-size: 140%;
    color: #c0bcbc;
}

.articleContainer2 strong{
    color: var(--white);
}
.tittleSection{
    font-size: 140%;
    padding: 2rem 0;
}
/* section 5 */
.gridTemplate3 h2{
    margin: 2rem 0;
    color: var(--primary);
}
.gridTemplate3 p{
    color: var(--primary);
}
.gridTemplate3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    height: 13vh;
}
.textTitle3 h2{
    font-size: 100%;
    margin: 0;
}
.textTitle3 p{
    font-size: 80%;
    margin-top: .4rem;
}
/* Servicios especiales */
.card3.imagen-1{
    background-image: url(../img/img10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3.imagen-2{
    background-image: url(../img/img11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3.imagen-3{
    background-image: url(../img/img12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3.imagen-4{
    background-image: url(../img/img13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3.imagen-5{
    background-image: url(../img/img14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3.imagen-6{
    background-image: url(../img/img15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3.imagen-7{
    background-image: url(../img/img16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card3.imagen-8{
    background-image: url(../img/img17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Article Premio Mercurio */

/* Footer */
.footerContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Quienes somos */
.quienesSomosContainer{
    display: flex;
    flex: auto;
    padding: 2rem 1rem;
    background-image: url(../img/quienes.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.quienesSomosChild{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quienesSomosContainer h2{
    text-align: left;
    margin-bottom: 2rem;
    color: var(--white);
}
.quienesSomosContainer p{
    text-align: left;
    color: var(--white);
}
.quienesSomosContainer a{
    margin: 2rem auto 0 0;
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
    font-size: .91rem;
    padding: .8rem 1.2rem;
}
/* Navegación footer */
.navFooter{
    background-color: var(--black);
}
.separadorContainer{
    padding: 2rem 1.3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    max-width: 1024px;
    margin: auto;
}
.redSocial a{
    font-size: 1.5rem;
}
/* Copyright */
.copyContainer{
    padding: 2rem 1rem;
    background-color: var(--white);
}
.copyContainer p{
    color: var(--black);
}
/*TODO: Media queries */
@media (min-width: 768px) {
    .mainContainer{
        background-position: center;
    }
    .textMain h1{
        font-size: 200%;
    }
    /* Seccion 1 */
    .section1Container .maxWidth{
        padding: 0 1rem;
    }
    .divSection1 h2{
        margin: 0 4rem 1rem 4rem;
        font-size: 160%;
    }
    .divSection1 p{
        font-size: 109%;
    }
    /* Img */
    .section1Container img{
        width: 90%;
        object-fit: cover;
    }
    /* Ser Argentino */
    .articleContainer{
        padding: 6rem 2rem;
    }
    .articleContainer p{
        font-size: 130%;
    }
    /* Section 2 */
    .gridTemplate{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .car1{
        margin-top: -3rem;
    }
    .car1 img{
        width: 90%;
    }
    /* Section 3 */
    .section3Container .tittleSection{
        margin-bottom: 3rem;
        margin-top: 4rem;
    }
    .gridTemplate2{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        max-width: 1024px;
    }
    .gridTemplate2 .card2{
        width: 30%;
        margin: 0 .4rem;
        justify-content: flex-start;
        margin-bottom: 5rem;
    }
    .textTitle2 h2{
        font-size: 100%;
        margin-bottom: .4rem;
    }
    /* Section 4 */
    .imagenWhite img{
        width: 74%;
        object-fit: cover;
        margin-bottom: 12.87%;
        margin-right: 2%;
    }
    .textSection4{
        max-width: 904px;
        margin: auto;
    }
    /* section 5 */
    .section5Container .tittleSection{
        margin: 3rem 0;
        font-size: 130%;
    }
    .gridTemplate3{
        grid-template-columns: repeat(4, 1fr);
    }
    .card3{
        padding: 4rem 0;
        height: 10vh;
    }
    /* Servicios Especiales */
    /* Articulo2 */
    .articleContainer2{
        padding: 4rem 1rem;
    }
    .articleContainer2 p{
        text-align: right;
        max-width: 1124px;
        margin: auto;
    }
    .articleContainer2 span{
        display: block;
    }
    .tittleSection{
        font-size: 140%;
        padding: 2rem 0;
    }
    /* Footer */
    .quienesSomosChild {
        max-width: 500px;
        margin-left: 10%;
    }
    .separadorContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        flex-direction: row;
    }
    .linksNavegador{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .linksNavegador li{
        margin: 0 .8rem;
    }
    .redSocial{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .redSocial li{
        color: var(--white);
        margin: 0 .5rem;
    }
}
/* mq 1024 */
@media (min-width: 900px) {
    /* Header */
    .headerContainer{
        max-width: 1068px;
        margin: auto;
        padding: 1rem 0;
        align-items: center;
    }
    .headerContainer img{
        width: 17rem;
    }
    .menuContainer > button{
        display: none;
    }
    .menuContainer > nav{
        display: block;
        margin-bottom: .7rem;
    }
    .ulContainer li > a{
        font-size: .9rem;
    }
    /* Main */
    .mainContainer{
        background-size: cover;
        background-position: 50% 25%;
    }
    .textMain h1{
        font-size: 250%;
    }
    .textMain p{
        font-size: 200%;
    }
    /* btnInfo */
    .btnInfo a{
        font-size: 100%;
        padding: .9rem 2rem;
    }

    /* section 1 */
    .maxWidth{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        padding: 0 1rem;
        max-width: 1024px;
        margin: auto;
    }
    .divSection1 h2{
        margin: 0 4rem 1rem 4rem;
        font-size: 170%;
    }
    .divSection1 p{
        font-size: 109%;
        margin: 0 2rem;
    }
    /* section 4 */
    .imagenSection4 img{
        width: 70%;
    }
    .imagenWhite img{
        width: 58%;
        object-fit: cover;
        margin-bottom: 4.87%;
        margin-right: 2%;
    }
    /* Img */
    .section1Container img{
        width: 80%;
        object-fit: cover;
    }
    /* Articulo ser Argentino */
    .articleContainer{
        padding: 8rem 0;
    }
    /* Flex Section 3 */
    .gridTemplate2 .card2{
        width: 30%;
        margin: 0 1rem;
        justify-content: flex-start;
        margin-bottom: 5rem;
    }
    .card2 h2{
        font-size: 110%;
    }
    /* Grid template 3 */
    .card3{
        padding: 4rem;
        height: 25vh;
    }
}
@media (min-width: 1000px) {
    .imagenWhite img{
        width: 62%;
    }
}
/* mq 1400 */
@media (min-width: 1400px) {
    /* Main */
    .headerContainer{
        max-width: 1444px;
        margin: auto;
        padding: 1rem 0;
        align-items: center;
    }
    .ulContainer li > a{
        font-size: 1.1rem;
    }
    .mainContainer{
        background-size: 103%;
        background-position: 50% 14%;
    }
    .textMain h1{
        font-size: 300%;
    }
    .textMain p{
        font-size: 200%;
    }
    .btnInfo{
        margin-top: 2rem;
    }
    .btnInfo a{
        padding: .9rem 2.7rem;
        font-size: 1.5rem;
    }
    /* Section 4 */
    .imagenWhite img{
        width: 60%;
        margin-bottom: 7%;
        margin-left: .8%;
    }

}